<br>
<h1>Autorzy dzieł sztuki</h1>
<div class="main client-index">
<div class="container">
<div class="row">
<% @clients.each do |client| %>
<div class="client col-xs-2">
<%= image_tag client.image %>
<h3><%= client.name %>
<%= link_to "Więcej", client_path(client) %>
</div>
<% end %>
</div>
</div>
</div>
