<div class="main client-show">
<div class="container">
<div class="client">
<%= image_tag @client.image %>
<div class="info">
<h3 class="client-name"><%= @client.name %></h3>
<p class="client-bio"><%= @client.bio %></p>
</div>
</div>

<h2>Produkty</h2>
<% @products.each do |product| %>
<div class="product">
<%= image_tag product.image %>
<h3 class="product-title"><%= product.title %></h3>
<p class="product=release-year"><%= product.release_year %></p>
<p class="product-description"><%= product.description %></p>
</div>
<% end %>
</div>
</div>
