/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body, html {
  background: #000;
  font-family: "Oxygen", sans-serif;
}

.header {
  background: url('http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/bg.png') rgba(0,0,0,0.8);
  background-size: 40px 80px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 80px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.header h1 {
  text-indent: -9999px;
}

.header img {
  margin: 20px 0;
}

.container {
  margin: 0 auto 0;
  width: 960px;
}

/*
  CLIENTS
*/


.main h2 {
  color: #0393ff;
  padding: 40px 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.main p {
  color: #fff;
  font-size: 14px;
}

h1 {
color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  margin: 12px 0 4px;
  text-transform: uppercase;
  text-decoration: none;
  float: none;
}
h3,
h3 a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  margin: 12px 0 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.product, .client {
  display: block;
  float: left;
  margin: 0 10px 80px 0;
  margin-bottom: 80px;
  width: 184px;
}

.client {
  height: 350px;
}

.product {
  height: 450px;
}

.product:nth-child(5n + 6), .client:nth-child(5n + 6)  {
  margin: 0 0 80px 0;
}

.product img, .client img {
  width: 100%;
}

.product a,
.client a {
  color: #0393ff;
  text-decoration: none;
}

p.year {
  color: #bcbec0;
}

/* 
  PRODUCTS
*/
.product-show .product, .client-index, .client-show .client {
  padding: 160px 0 0 0;
  width: 100%;
}

.product-show .product img, .client-show .client img {
  float: left;
  width: 184px;
}

.product-show .product h3, .client-show .client h3 {
  color: #0393ff;
  font-size: 40px;
  height: auto;
  line-height: 40px;
}

.info {
  display: block;
  float: left;
  margin: 0 0 0 40px;
  width: calc(100% - 224px);
}

.product-show .product p {
  display: block;
}

.product-show .product p.year {
  margin: 0 0 20px 0;
}

/* 
  MEDIA QUERIES
*/

@media screen and (max-width: 960px) {
  .container {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .product, .client {
    width: calc(25% - 10px);
  }

  .product h3 {
    font-size: 15px;
  }

  .product a,
  .client a {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .product a,
  .client a {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .product, .client {
    width: calc(50% - 10px);
  }

  .info {
    margin: 0 0 0 20px;
    width: calc(100% - 204px);
  }

  .product-show .product h3, .client-show .client h3 {
    font-size: 24px;
    line-height: 24px;
  }

  .product a,
  .client a {
    font-size: 14px;
  }
}

