<div class="container">
	
	<h3>Opis produktów będących celem prezentacji</h3>
	
</div>

<div class="main">
	<div class="container">
	<h2>Popularne produkty</h2>

	<% @products.each do |product| %>
		<div class="product">
			<%= image_tag product.image %>
			<h3><%= product.title %></h3>
			<p><%= product.release_year %></p>
			<p><%= product.description %></p>
			<%= link_to "Więcej", product_path(product) %>
		</div>
		<% end %>

	</div>
</div>
