<div class="main product-show">
<div class="container">
<div class="movie">
<div class="info"
<%= image_tag @product.image %>
<h3 class="product-title"><%= @product.title %></h3>
<p class="product-release-year"><%= @product.release_year %></p>
<p class="product-description"><%= @product.description %></p>
</div>
</div>

<h2>Klienci</h2>
<% @clients.each do |client| %>
<div class="client">
<%= image_tag client.image %>
<h3 class="client-name"><%= client.name %></h3>
<p class="client-bio"><%= client.bio %></p>
</div>
<% end %>
</div>
</div>
